@use './components/Button/button';
@use './components/Color-picker-box/Color-picker/color-picker';
@use './components/Icon-picker-group/Icon-picker/icon-picker';
@use './components/Buttons-showcase/Buttons-showcase';
@use './components/Select/Select';
@use './components/Footer/Footer';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 500;
}

p {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #3f3f3f;
  padding-bottom: 1rem;
}

.checkbox-input-container {
  padding: 1rem;
  margin-left: 2rem;
}

.custom-button-container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    h1 {
      margin-top: 2rem;
    }
  }
}

.button-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .headline {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 1rem 0rem 1rem;
  }
}

.select-input-container {
  display: flex;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
}
